*.DS_Store
node_modules/
build/
*.shp
*.pyc

#ignore rendered files
**/index.html
**/child.html
**/assets/*
**/*/assets/*
!**/assets/assetsignore
**/css/graphic-header.css
**/js/parent-header.js
**/js/parent-footer.js
**/js/graphic-header.js
**/js/graphic-footer.js

# Unpublished graphics
building-permits-pop-table/
building-permits-pop/
census-2016-cook-chicago-change/
cta-2015/
illinois-budget-emergency/
illinois-house-makeup.zip
illinois-senate-2016.zip
illinois-senate-makeup.zip
income-sm/
investigators-table/
investigators/
lead-tests.zip
measles/
natalie-map/
police-staffing/
superbowl-fans-falcons/
superbowl-fans-patriots/
test-bar-chart/
test-map/
whats-changed-homicides-year/
whats-changed-ratio/
whats-changed-shots-fired-911/
whats-changed-totals-copy/