{% extends 'base_template.html' %}

{% block extra_css %}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"> </script>
{% endblock %}

{% block content %}

    <div class="graphic">
        <div class="search">
            <h4> Search  <input type="text" id="search-table"></h4> 
        </div>
        <div class="key">
            <ul class="key">
                <li><strong>Most competitive high schools:</strong> Jones, Lane, Northside, Payton, and Whitney Young </li>
                <li><strong>Mid-level:</strong> Brooks, Hancock, Lindblom, and Westinghouse </li>
                <li><strong>Less competitive:</strong> King and South Shore </li> 
                <li><strong>Total:</strong> All 11 selective enrollment high schools </li>
            <ul>
        </div>
        
        <table id="school-table" style="width:585px !important;">
            <thead>
                <tr>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_name }}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon" ></div></div>
                        <div class="header">{{ COPY.labels.hdr_most}}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_mid }}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_least }}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header ">{{ COPY.labels.hdr_total }}</div>
                    </th>
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="school">
                <td data-title="{{ COPY.labels.hdr_name }}">{{ row.name }}</td>
                <td data-title="{{ COPY.labels.hdr_most }}" class="amt">{{ row.most|comma }} %</td>
                <td data-title="{{ COPY.labels.hdr_mid }}" class="amt">{{ row.mid|comma }} %</td>
                <td data-title="{{ COPY.labels.hdr_least }}" class="amt">{{ row.least|comma }} %</td>
                <td data-title="{{ COPY.labels.hdr_total }}" class="amt">{{ row.total|comma }} %</td>
            </tr>
            {% endfor %}

        </table>
        <p class="key"> {{ COPY.labels.note_gifted }}</p>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js" ></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" > </script>
{% endblock %}

{% block js %}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
