{% extends 'base_template.html' %}

{% block content %}
{% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
{% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}
    <div class="main-carousel">
        {% for row in COPY.data %}
          <div class="carousel-cell">
              <div class="wrapper">
                  <img src="img/{{row.image}}"/>
                  <h1> {{ row.header }}</h1>
                  <p> {{ row.text }} </p>
                  <div class="sub-wrapper">
                      <img class="icon" src="img/{{ COPY.labels.icon }}">
                    <div class="subhed">
                          <p> {{ row.failure }}</p>
                    </div>
                  </div>
              </div>
          </div>
        {% endfor %}
        </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
